body {
	background-color: #333333;
	text-align: center;
}

.headerBox {
	background-color: #808080;
	width: 98%;
	height: 100px;
	border-radius: 10px;
	margin: 20px auto 10px;
}

.headerBox:hover{
	background-color: #f6546a;
	text-transform: uppercase;
	text-transform: bold;
}

a {
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
	color: #eeeeee;
	font-size: 25px;
}

.asideLeft {
	float: left;
	background-color: #808080;
	width: 240px;
	height: 450px;
	border-radius: 10px;
	margin: 10px 20px;
}

.asideLeft:hover {
	background-color: #6dc066;
	text-transform: uppercase;
	text-transform: bold;
}

.mainBox {
	float: left;
	background-color: #808080;
	width: 60%;
	height: 450px;
	border-radius: 10px;
	margin: 10px auto 20px;
}

.mainBox:hover {
	background-color: #088da5;
	text-transform: uppercase;
	text-transform: bold;
}

.asideRight {
	float: left;
	background-color: #808080;
	width: 240px;
	height: 450px;
	border-radius: 10px;
	margin: 10px 20px;	
}

.asideRight:hover {
	background-color: #daa520;
	text-transform: uppercase;
	text-transform: bold;
}

.footerBox {
	clear: both;
	background-color: #808080;
	width: 98%;
	height: 100px;
	border-radius: 10px;
	margin: 50px auto;
}

.footerBox:hover{
	background-color: #ff7f50;
	text-transform: uppercase;
	text-transform: bold;
}



